.imagePuzzle {
  color: white;
  width: 1200px;
  height: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
  .puzzle {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    box-sizing: initial;
    border: 1px solid black;
  }
  li {
    width: 100px;
    list-style-type: none;
  }
  .box {
    display: inline-block;
    border: 0;
    padding: 0;
    margin: 0;
  }
}






