<div class="imagePuzzle">
  <div class="unsolvedPuzzle">
    <ul class="puzzle">
      <li *ngFor="let img of Image" class="box" [draggable]="true" [id]="img.index"
        (dragstart)="onDragStart($event)" (drop)="onDrop($event)" (dragover)="allowDrop($event)"
        [style.width.px]="boxSize" [style.height.px]="boxSize"
        [ngStyle]="{'background-image':'url(' + imageUrl + ') ','background-repeat':'no-repeat', 'background-position': '' + img.x_pos + ' '  + img.y_pos + '','background-size':''+ (gridsize * 100) +'% '+ (gridsize * 100) +'%'}">

      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
